.container {
    display: flex;
    flex-direction: column;
    max-width: 606px;
}

.item {
    height: fit-content;
    border-bottom: solid 1px #e5e5e5;
    padding-inline: 16px;
}

.item:last-of-type {
    width: 50%;
    padding-left: 50%;
}

.users {
    width: 100%;
    padding-left: 18px;
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
}

.buttonsContainer {
    align-self: flex-end;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-block: 18px;
    /*margin-top: 34px;*/
}

.button {
    width: fit-content;
    padding-inline: 24px;
}

.thead {
    width: 100%;
    height: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    background-color: #e5e5e5;
}

.nameCol {
    width: 50%;
    height: 46px;
    text-align: left;
    border-left: none;
    padding-left: 18px;
}

.ageCol {
    width: 50%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}