.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.clock {
    width: 100%;
}

.watch {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.watch:hover {
    cursor: default !important;
}

.watch strong {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.more {
    margin-block: 10px 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}